.nothing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 64vh;
    gap: 1rem;
    display: none;
}

.nothingText {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 21px;
    text-align: center;
}
