.homecontaiiner
{
    /* background-image: url('./assets/background.png'); */
    background-image: url('../../assets/background.png');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: center; */
    position: fixed;
    padding: 4% 10%;
}